.DS_Store
.sass-cache
*.sublime-workspace
*.sublime-project

# ignore node/bower files
node_modules
bower_components

# ignore compiled js/css/img
/scripts
/styles/css
/images/svg/min
/images/png

# ingore these - the project template repo will contain them
Gruntfile.js
/styles/scss/palm.scss
/styles/scss/lap_and_up.scss
/styles/scss/ie.scss

# ignore jekyll examples
index.html
_site
_config.yml
