.DS_Store
.sass-cache
*.sublime-workspace
*.sublime-project

# ignore node/bower files
node_modules
bower_components

# ignore compiled js/css/img
/scripts
/styles/css
/images/svg/min
/images/png

# ingore index - the project template repo will contain this
index.html
