@charset "UTF-8";
/*------------------------------------*\
    LAP_AND_UP.CSS
\*------------------------------------*/



/**
 * Vars and inuit - mixins as well so we have them in this file
 */
@import "vars";
@import "../../bower_components/inuit.css/defaults";
@import "../../bower_components/inuit.css/generic/mixins";
@import "generic/mixins";



/**
 * any 'Lap and Up' specific stuff
 */
@import "objects/container_lau";



/**
 * Site footer
 */
.site__footer {
  .icon__freeukgen__project--light {
    margin-top: $base-spacing-unit / 3;
  }
}



/**
 * A list of icons
 */
.icon-list {
  li {
    @include inline-block;
    margin-left: $base-spacing-unit * 2;
    margin-right: $base-spacing-unit * 2;
  }
}
