@charset "UTF-8";
/*------------------------------------*\
    PALM.CSS
\*------------------------------------*/



/**
 * Vars and inuit
 */
@import "vars";
@import "../../bower_components/inuit.css/inuit";



/**
 * Generic utility styles etc.
 */
@import "generic/mixins";



/**
 * Base styles; unclassed HTML elements etc.
 */
@import "base/box-sizing";
@import "base/main";
@import "base/type";
@import "base/fonts";
@import "base/smallprint";
@import "base/paragraphs";
@import "base/headings";
@import "base/forms";
@import "base/tables";



/**
 * Objects and abstractions
 */
@import "objects/alerts";
@import "objects/beautons";
@import "objects/container";
@import "objects/nav";
@import "objects/grids";
@import "objects/stats";
@import "objects/island";
@import "objects/banner";
@import "objects/matrix";
@import "objects/pagination";
@import "objects/breadcrumbs";
@import "objects/data";
@import "objects/validation";



/**
 * Style trumps; helper and brand classes
 */
@import "generic/helper";
@import "generic/debug";



/**
 * Slient classes used for extending further down
 */
%nav { @extend .nav; }



/**
 * Site header
 */
.site__header {
  overflow: hidden;
  position: relative;
  z-index: 2;
  @include vendor(box-shadow, 0 5px 14px #cccccc);

  .banner-horz { margin-bottom: $base-spacing-unit * 2; }
}
  .site__header__logo {
    float: left;
  }
  .site__header__freeukgen-logo {
    float: right;
    margin-bottom: $base-spacing-unit / 2;
  }
  .site__header__nav {
    float: right;

    ul {
      @extend %nav;
      margin-bottom: 0;
    }

    li {
      margin-left: $base-spacing-unit * 1.5;
    }
    a {
      text-transform: uppercase;
      color: $magenta;
      font-weight: bold;
      padding: $half-spacing-unit 0;
      &:active,
      &:hover {
        color: $magenta-brighter;
      }
    }
  }



/**
 * Site content
 */
.site__content {
  position: relative;
  z-index: 1;
  padding-top: $base-spacing-unit * 2;
}

  .icon__honeycomb--top-right {
    width: 100% !important;
    height: auto !important;
    background-position: top right;
  }



/**
 * Site footer
 */
.site__footer {}

  .icon__honeycomb--bottom-left {
    width: 100% !important;
    height: auto !important;
    background-position: bottom left;
  }



/**
 * A list of icons
 */
.icon-list {
  @extend %nav;
  margin: ($base-spacing-unit * 2) 0;
  li {
    display: block;
    margin-bottom: $base-spacing-unit;
  }
}
